/*\/\/\/ CUSTOM CSS \/\/\/\*/
@import 'partials/variables';
@import 'partials/list';

/* Paddings */
.padding-bottom-40 {padding-bottom: 40px;}

/*-- Navigation --*/
.navbar {
  min-height: 90px;
}

.navbar-logo {
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 20px;
}

.navbar-header {
  padding: 20px 0;
}

.logo {
  margin-left: 0px !important;
}

/*-- CTA --*/
.cta-header {
  margin-top: 80px;
  padding: 100px 0;
  background-image: url(http://placehold.it/1800x600);
  background-position: center;
  margin-bottom: 50px; /* dit is voor de correctie met het menu */
}

/* For JS */
.extra-info {display:none;}

/*-- FIXES --*/
.jumbotron p {
  font-size: 14px;
}