// _list.scss

.bs-list {
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  .label-finished, .label-waiting, .label-stuck, .label-active {
    margin: 10px 0;
    display: inline-block;
  }
}
.jumbotron {
  .bs-list {background-color: #fff;}
  .bs-list-finished {border-left-color: $finished-color;}
  .bs-list-waiting {border-left-color: $waiting-color;}
  .bs-list-stuck {border-left-color: $stuck-color;}
  .bs-list-active {border-left-color: $active-color;}
  .nav > li > a {
    background-color: #E4E4E4;
    color: #fff;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    color: #337ab7;
    background-color: #FFF;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
  }
}
.bs-list-finished {border-left-color: $finished-color;}
.bs-list-waiting {border-left-color: $waiting-color;}
.bs-list-stuck {border-left-color: $stuck-color;}
.bs-list-active {border-left-color: $active-color;}
.bs-list:hover {opacity: 0.7;}

.label-finished {background-color: $finished-color;}
.label-waiting  {background-color: $waiting-color;}
.label-stuck    {background-color: $stuck-color;}
.label-active   {background-color: $active-color;}