// _variables.scss

// Branding
$primary-color: #333;
$secondary-color: #333;

// Colors
$orange: #f0ad4e;
$orange-hover: #d89545;

/* Different states of a project */
$finished-color: #5cb85c;
$active-color: #5bc0de;
$waiting-color: #337ab7;
$stuck-color: #f0ad4e;